*{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Open Sans,arial,sans-serif;
}

h2{
    font-size: clamp(1.4rem,1.176rem + .624vw,1.8rem);
}














.infos{
    padding-top: 20px;
    background: rgb(241,241,242);
}